.ui-kit-days-grid {
	display: grid;
	grid-template-columns: repeat(7, 42px);
	grid-template-rows: repeat(7, 42px);
	gap: 6px;
	place-items: center center;
}

@media screen and (max-width: 600px) {
	.ui-kit-days-grid {
		grid-template-columns: repeat(7, 32px);
		grid-template-rows: repeat(7, 32px);
	}
}
