/* Стили wrapper */
.ui-kit-input__wrapper {
	position: relative;

	display: flex;
	align-items: center;

	width: 100%;

	transition: all 0.2s linear;
}

.ui-kit-input__wrapper--active {
	align-items: flex-end;
}

.ui-kit-input__wrapper--size-small {
	height: var(--h-small);
	padding: 6px 14px;
	border-radius: var(--brad-small);
}

.ui-kit-input__wrapper--size-medium {
	height: var(--h-medium);
	padding: 8px 14px;
	border-radius: var(--brad-small);
}

.ui-kit-input__wrapper--size-large {
	height: var(--h-large);
	padding: 7px 14px;
	border-radius: var(--brad-base);
}

.ui-kit-input__wrapper--theme-white {
	background-color: var(--faint-weak);
}

.ui-kit-input__wrapper--theme-gray {
	background-color: var(--base-weak);
}

.ui-kit-input__wrapper--disabled {
	cursor: not-allowed;
}

.ui-kit-input__wrapper--passwordIcon {
	padding-right: 14px;
}

.ui-kit-input__wrapper--icon {
	padding-left: 14px;
}

.ui-kit-input__wrapper--error {
	background-color: var(--critic-weak-lighter);
}

/* Стили wrapper конец */

/* Стили лейбла */
.ui-kit-input__label {
	resize: none;

	position: absolute;
	top: 12px;
	left: 14px;
	transform: translate(0, -50%);

	font-size: var(--fs-3xs);
	font-weight: var(--fw-medium);
	line-height: normal;
	color: var(--base-strong-lighter);

	transition: all 0.2s linear;
}

.ui-kit-input__label--error {
	font-size: var(--fs-xxs);
	line-height: var(--lh-xs);
	color: var(--critic-strong);
}

.ui-kit-input__label--disabled {
	pointer-events: none;
	color: var(--faint-strong);
}

.ui-kit-input__label--invisible {
	pointer-events: none;
	opacity: 0;
}

/* Стили лейбла конец */

/* Стили плейсхолдера */
.ui-kit-input__placeholder {
	cursor: text;

	position: absolute;
	top: 50%;
	left: 14px;
	transform: translate(0, -50%);

	font-weight: var(--fw-medium);
	color: var(--base-strong-lighter);

	transition: all 0.2s linear;
}

.ui-kit-input__placeholder--size-small {
	font-size: var(--fs-xs);
	line-height: var(--lh-sm);
}

.ui-kit-input__placeholder--size-medium,
.ui-kit-input__placeholder--size-large {
	font-size: var(--fs-sm);
	line-height: var(--lh-md);
}

.ui-kit-input__placeholder--icon {
	left: 42px;
}

.ui-kit-input__placeholder--disabled {
	pointer-events: none;
}

.ui-kit-input__placeholder--invisible {
	pointer-events: none;
	opacity: 0;
}

/* Стили плейсхолдера конец */

/* Стили инпута */
.ui-kit-input {
	flex: 1 1;

	width: 100%;

	font-weight: var(--fw-medium);
	color: var(--base-strong);

	background-color: transparent;
	border: none;
	border-radius: var(--brad-base);
	outline: none;
	box-shadow: none;

	transition: all 0.2s linear;
}

.ui-kit-input--size-small {
	height: 16px;
	font-size: var(--fs-xs);
	line-height: var(--lh-sm);
}

.ui-kit-input--size-medium,
.ui-kit-input--size-large {
	height: 18px;
	font-size: var(--fs-sm);
	line-height: var(--lh-md);
}

.ui-kit-input:disabled {
	pointer-events: none;
	color: var(--faint-strong);
	background-color: transparent;

	-webkit-text-fill-color: var(--faint-strong);
}

.ui-kit-input--icon {
	padding-left: 10px;
}

/* Стили инпута конец */

/* Стили иконок */
.ui-kit-input__icon {
	color: var(--accent-strong);
	transition: all 0.1s linear;
}

.ui-kit-input__icon__togglePasswordIcon {
	cursor: pointer;

	display: flex;

	padding: 4px;

	color: var(--faint-strong);

	background-color: transparent;
	border: none;

	transition: all 0.1s linear;
}

.ui-kit-input__icon__togglePasswordIcon:hover {
	color: var(--accent-strong);
}

.ui-kit-input__errorIcon__wrapper {
	cursor: pointer;

	display: flex;

	padding: 4px;

	background-color: transparent;
	border: none;
	border-radius: var(--brad-circle);

	transition: background-color 0.1s linear;
}

.ui-kit-input__errorIcon__wrapper--hidden {
	padding: 0;
}

.ui-kit-input__errorIcon {
	color: var(--critic-strong);
	transition: all 0.1s linear;
}

.ui-kit-input__icon,
.ui-kit-input__icon__togglePasswordIcon > svg,
.ui-kit-input__errorIcon {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
}

.ui-kit-input__errorIcon__wrapper:hover,
.ui-kit-input__errorIcon__wrapper:active {
	background-color: var(--critic-weak);
}

.ui-kit-input__icon--error,
.ui-kit-input__icon__togglePasswordIcon--error {
	color: var(--critic-strong);
}

.ui-kit-input__icon__togglePasswordIcon--error:hover {
	color: var(--critic-strong-darker);
}

.ui-kit-input__errorIcon--hidden {
	width: 0;
	height: 0;
}

.ui-kit-input__icon--disabled,
.ui-kit-input__icon__togglePasswordIcon:disabled {
	pointer-events: none;
	color: var(--faint-middle);
}

/* Стили иконок конец */

/* Стили тултипа с тексом ошибки */
.ui-kit-input__error-tooltip {
	width: 100%;
	max-width: 100%;
}

.ui-kit-input__error-tooltip-text {
	font-size: var(--fs-xs);
	font-weight: var(--fw-medium);
	line-height: var(--lh-sm);
	color: var(--critic-strong);
}

/* Стили тултипа с тексом ошибки конец */
