.ui-kit-days-grid {
	display: grid;
	grid-template-rows: repeat(6, 42px);
	grid-template-columns: repeat(7, 42px);

	gap: 6px;
	align-items: center;
	justify-items: center;
}

@media screen and (max-width: 600px) {
	.ui-kit-days-grid {
		grid-template-rows: repeat(6, 32px);
		grid-template-columns: repeat(7, 32px);
	}
}
