.button {
	padding: 14px 16px;

	font-weight: 600;
	line-height: 16px;

	border: none;
	border-radius: var(--fs-md);
	cursor: pointer;
}

.button:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.button:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.full {
	width: 100%;
}

.accent-strong-fill {
	color: var(--base-weak);

	background-color: var(--accent-strong);
}

.accent-strong-fill:hover {
	color: var(--base-weak);

	background-color: var(--accent-strong-up);

	transition: 0.4s;
}

.delete-button {
	color: var(--critic-strong);

	background-color: var(--base-weak);
	border: var(--critic-strong) 0.6px solid;
}

.delete-button:hover {
	color: var(--critic-strong);

	background-color: rgb(255 97 77 / 0.15);
	border: var(--critic-strong) 0.6px solid;

	transition: 0.4s;
}

.delete-button:disabled {
	color: var(--critic-weak-up);

	background-color: var(--base-weak);
	border: var(--critic-weak-up) 0.6px solid;
}

.delete-button:disabled:hover {
	color: var(--critic-weak-up);

	background-color: var(--base-weak);
	border: var(--critic-weak-up) 0.6px solid;
}

.complement-strong-fill {
	color: var(--base-weak);

	background-color: var(--complement-strong);
}

.complement-strong-fill:hover {
	color: var(--base-weak);

	background-color: var(--complement-strong-up);

	transition: 0.4s;
}

.faint-weak-fill {
	color: var(--accent-strong);

	background-color: var(--faint-weak);
}

.faint-weak-fill:hover {
	color: var(--accent-strong);

	background-color: var(--faint-weak-up);

	transition: 0.4s;
}

.base-weak-outline {
	color: var(--base-strong);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;
}

.base-weak-outline:hover {
	color: var(--base-strong);

	background-color: var(--faint-weak);
	border: var(--line-faint-weak) 0.6px solid;

	transition: 0.4s;
}

.base-weak-outline:disabled {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;

	transition: 0.4s;
}

.base-weak-outline:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;

	transition: 0.4s;
}

.text-link {
	color: var(--accent-strong);
	font-weight: 500;

	background-color: transparent;
	border: none;
}

.text-link:hover {
	color: var(--accent-strong);
	font-weight: 600;
	text-decoration: underline;

	background-color: transparent;
	border: none;
}

.text-link:disabled {
	color: var(--back-faint-middle);
	font-weight: 500;

	background-color: transparent;
	border: none;
}

.text-link:disabled:hover {
	color: var(--back-faint-middle);
	font-weight: 500;
	text-decoration: none;

	background-color: transparent;
	border: none;
}

.base-weak-fill {
	color: var(--base-strong);

	background-color: var(--base-weak);
}

.base-weak-fill:hover {
	color: var(--base-strong);

	background-color: var(--faint-weak-up);
}

.base-weak-fill:disabled {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
}

.base-weak-fill:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
}
