.button {
	display: flex;
	justify-content: center;
	justify-items: center;
	padding: 14px 16px;

	font-weight: var(--fw-semibold);
	font-size: var(--fs-xs);
	line-height: var(--lh-xs);

	border: none;
	border-radius: 16px;
	cursor: pointer;
}

.full {
	width: 100%;
}

.accent-fill-white {
	color: var(--base-weak);

	background-color: var(--accent-strong);
}

.accent-fill-white:hover {
	color: var(--base-weak);

	background-color: var(--accent-strong-up);

	transition: 0.4s;
}

.accent-fill-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.accent-fill-white:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.delete-button-white {
	color: var(--critic-strong);

	background-color: var(--base-weak);
	border: var(--critic-strong) 0.6px solid;
}

.delete-button-white:hover {
	color: var(--critic-strong);

	background-color: rgb(255 97 77 / 0.15);
	border: var(--critic-strong) 0.6px solid;

	transition: 0.4s;
}

.delete-button-white:disabled {
	color: var(--critic-weak-up);

	background-color: var(--base-weak);
	border: var(--critic-weak-up) 0.6px solid;
	cursor: not-allowed;
}

.delete-button-white:disabled:hover {
	color: var(--critic-weak-up);

	background-color: var(--base-weak);
	border: var(--critic-weak-up) 0.6px solid;
	cursor: not-allowed;
}

.complement-fill-white {
	color: var(--base-weak);

	background-color: var(--complement-strong);
}

.complement-fill-white:hover {
	color: var(--base-weak);

	background-color: var(--complement-strong-up);

	transition: 0.4s;
}

.complement-fill-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.complement-fill-white:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.faint-fill-white {
	color: var(--accent-strong);

	background-color: var(--faint-weak);
}

.faint-fill-white:hover {
	color: var(--accent-strong);

	background-color: var(--faint-weak-up);

	transition: 0.4s;
}

.faint-fill-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.faint-fill-white:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.base-outline-white {
	color: var(--base-strong);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;
}

.base-outline-white:hover {
	color: var(--base-strong);

	background-color: var(--faint-weak);
	border: var(--line-faint-weak) 0.6px solid;

	transition: 0.4s;
}

.base-outline-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;
	cursor: not-allowed;

	transition: 0.4s;
}

.base-outline-white:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;
	cursor: not-allowed;

	transition: 0.4s;
}

.text-link-white {
	color: var(--accent-strong);

	background-color: transparent;
	border: none;
}

.text-link-white:hover {
	color: var(--accent-strong);
	font-weight: var(--fw-bold);
	text-decoration: underline;

	background-color: transparent;
	border: none;
}

.text-link-white:disabled {
	color: var(--back-faint-middle);

	background-color: transparent;
	border: none;
	cursor: not-allowed;
}

.text-link-white:disabled:hover {
	color: var(--back-faint-middle);
	font-weight: var(--fw-semibold);
	text-decoration: none;

	background-color: transparent;
	border: none;
	cursor: not-allowed;
}

.base-fill-dark {
	color: var(--base-strong);

	background-color: var(--base-weak);
}

.base-fill-dark:hover {
	color: var(--base-strong);

	background-color: var(--faint-weak-up);
}

.base-fill-dark:disabled {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	cursor: not-allowed;
}

.base-fill-dark:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	cursor: not-allowed;
}

.base-outline-dark {
	color: var(--base-strong);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 0.6px solid;
}

.base-outline-dark:hover {
	color: var(--base-strong);

	background-color: var(--faint-weak-up);
	border: var(--line-faint-weak) 0.6px solid;
}

.base-outline-dark:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak);
	border: var(--line-faint-weak) 0.6px solid;
	cursor: not-allowed;
}

.base-outline-dark:disabled:hover {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak);
	border: var(--line-faint-weak) 0.6px solid;
	cursor: not-allowed;
}
