.button {
	display: flex;
	justify-content: center;
	justify-items: center;
	padding: 16px;

	font-weight: var(--fw-semibold);
	font-size: var(--fs-xs);
	line-height: var(--lh-xs);

	border: none;
	border-radius: 16px;
	cursor: pointer;
}

.base-fill-gray {
	color: var(--base-strong);

	background-color: var(--base-weak);
}

.base-fill-gray:hover {
	background-color: var(--faint-weak-up);
}

.base-fill-gray:disabled {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	cursor: not-allowed;
}

.base-outline-gray {
	color: var(--base-strong);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 1px solid;
}

.base-outline-gray:hover {
	background-color: var(--faint-weak-up);
}

.base-outline-gray:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak);
	border: var(--line-faint-weak) 1px solid;
	cursor: not-allowed;
}

.base-outline-white {
	color: var(--base-strong);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 1px solid;
}

.base-outline-white:hover {
	background-color: var(--faint-weak);
}

.base-outline-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--base-weak);
	border: var(--line-faint-weak) 1px solid;
	cursor: not-allowed;
}

.accent-fill-white {
	color: var(--base-weak);

	background-color: var(--accent-strong);
}

.accent-fill-white:hover {
	background-color: var(--accent-strong-up);
}

.accent-fill-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.accent-outline-white {
	color: var(--base-weak);

	background-color: var(--accent-strong);
	border: var(--accent-strong-up) 1px solid;
}

.accent-outline-white:hover {
	background-color: var(--accent-strong-up);
	border: var(--accent-strong) 1px solid;
}

.accent-outline-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	border: var(--line-faint-weak) 1px solid;
	cursor: not-allowed;
}

.complement-fill-white {
	color: var(--base-weak);

	background-color: var(--complement-strong);
}

.complement-fill-white:hover {
	background-color: var(--complement-strong-up);
}

.complement-fill-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

.complement-outline-white {
	color: var(--base-weak);

	background-color: var(--complement-strong);
	border: var(--accent-strong-up) 1px solid;
}

.complement-outline-white:hover {
	background-color: var(--complement-strong-up);
	border: var(--accent-strong) 1px solid;
}

.complement-outline-white:disabled {
	color: var(--back-faint-middle);

	background-color: var(--faint-weak-up);
	border: var(--line-faint-weak) 1px solid;
	cursor: not-allowed;
}

.critic-outline-white {
	color: var(--critic-strong);

	background-color: var(--base-weak);
	border: var(--critic-strong) 1px solid;
}

.critic-outline-white:hover {
	background-color: var(--critic-weak-down);
}

.critic-outline-white:disabled {
	color: var(--critic-weak-up);

	background-color: var(--base-weak);
	border: var(--critic-weak-up) 1px solid;
	cursor: not-allowed;
}

.text-white {
	color: var(--accent-strong);

	background-color: transparent;
	border: none;
}

.text-white:hover {
	font-weight: var(--fw-bold);
	text-decoration: underline;
}

.text-white:disabled {
	color: var(--back-faint-middle);
	font-weight: var(--fw-semibold);
	text-decoration: none;

	cursor: not-allowed;
}
