.ui-kit-date-picker__container {
	position: absolute;
	z-index: 99999;
	top: 0;
	transform: translateY(54px);

	display: grid;
	row-gap: 10px;

	width: max-content;

	box-shadow: 0 10px 15px 0 rgb(66 71 77 / 0.1);

	animation-name: in;
	animation-duration: 200ms;
}

.ui-kit-date-picker__container--close {
	animation-name: out;
	animation-duration: 200ms;
}

.ui-kit-date-picker__container--top {
	transform: translateY(calc(-100% - 10px));
	box-shadow: 0 4px 15px 0 rgb(66 71 77 / 0.1);
}

.ui-kit-date-picker__container--right {
	right: 0;
}

@keyframes in {
	from {
		grid-template-rows: 0;
		opacity: 0;
	}

	to {
		grid-template-rows: 50px;
		opacity: 1;
	}
}

@keyframes out {
	from {
		grid-template-rows: 50px;
		opacity: 1;
	}

	to {
		grid-template-rows: 0;
		opacity: 0;
	}
}
