.ui-kit-textarea-wrapper {
	position: relative;

	display: flex;
	align-items: center;

	border: 1px solid transparent;
	border-radius: var(--brad-base);
}

.ui-kit-textarea-wrapper.password {
	padding-right: 14px;
}

.ui-kit-textarea-wrapper.icon {
	padding-left: 14px;
}

.ui-kit-textarea-wrapper.focused {
	box-shadow: 0 0 0 2px var(--accent-weak-lighter);
}

.ui-kit-textarea-wrapper.white {
	background-color: var(--base-weak);
	border: 1px solid var(--back-faint-weak-darker);
}

.ui-kit-textarea-wrapper.white.focused {
	border-color: var(--accent-weak-lighter);
}

.ui-kit-textarea-wrapper.gray {
	background-color: var(--faint-weak);
}

.ui-kit-textarea-wrapper.white.error {
	border: 1px solid var(--critic-strong);
}

.ui-kit-textarea-wrapper.gray.error {
	background-color: var(--critic-weak-lighter);
}

.ui-kit-textarea-wrapper.disabled {
	cursor: not-allowed;
}

.ui-kit-textarea-label-common {
	position: absolute;
	top: 0;

	color: var(--faint-strong);

	font-size: var(--fs-xs);

	background-color: transparent;

	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ui-kit-textarea-label-common.error {
	color: var(--critic-strong);
}

.ui-kit-textarea-label-common.disabled {
	color: var(--faint-middle);
}

.ui-kit-textarea-label {
	left: 14px;

	padding: 2px 4px;

	font-size: var(--fs-xxs);

	background-color: var(--base-weak);

	border-radius: 4px;

	transform: translate(0, -50%);
}

.ui-kit-textarea-label.gray {
	padding: 0;

	background-color: transparent;
	transform: translate(0, 6px);
}

.ui-kit-textarea-label.gray.icon {
	left: 40px;
}

.ui-kit-textarea-placeholder {
	left: 15px;

	transform: translate(0, calc(24px - 50%));

	cursor: text;
}

.ui-kit-textarea-placeholder.icon {
	left: 42px;
}

.ui-kit-textarea {
	flex: 1 1;
	padding: 14px;

	font-size: var(--fs-xs);
	line-height: var(--lh-xs);

	background-color: transparent;

	border: none;
	border-radius: var(--brad-base);
}

.ui-kit-textarea:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

.ui-kit-textarea:disabled {
	color: var(--faint-middle);

	background-color: transparent;
}

.ui-kit-textarea.autoSize {
	resize: none;
}

.ui-kit-textarea.gray.withLabel {
	padding-top: 20px;
	padding-bottom: 8px;
}
