/* Стили контейнера */
.ui-kit-navTabs-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: fit-content;
}

.ui-kit-navTabs-container__rotate-right {
	rotate: 90deg;
}

.ui-kit-navTabs-container__rotate-bottom {
	rotate: 180deg;
}

.ui-kit-navTabs-container__rotate-left {
	rotate: 270deg;
}

.ui-kit-navTabs-container__rotate-top,
.ui-kit-navTabs-container__rotate-right {
	flex-direction: row;
}

.ui-kit-navTabs-container__rotate-bottom,
.ui-kit-navTabs-container__rotate-left {
	flex-direction: row-reverse;
}

/* Стили таба */
.ui-kit-navTabs-tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	padding: 0 35px;
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;

	background-color: var(--faint-weak-lighter);

	border: none;
	border-radius: 20px 20px 0 0;
	cursor: pointer;

	transition: background-color 0.2s linear;
}

.ui-kit-navTabs-tab__theme-gray:hover,
.ui-kit-navTabs-tab__theme-gray:active,
.ui-kit-navTabs-tab__active__theme-gray {
	background-color: var(--base-weak);
}

.ui-kit-navTabs-tab__theme-white:hover,
.ui-kit-navTabs-tab__theme-white:active,
.ui-kit-navTabs-tab__active__theme-white {
	background-color: var(--faint-weak);
}

.ui-kit-navTabs-tab:disabled:hover,
.ui-kit-navTabs-tab:disabled:active,
.ui-kit-navTabs-tab:disabled {
	background-color: var(--faint-weak-lighter);
	cursor: not-allowed;
}

/* Стили текста таба */
.ui-kit-navTabs-tab-text {
	color: var(--base-strong);
	font-weight: var(--fw-medium);
	font-size: var(--fs-sm);
	line-height: var(--lh-md);

	transition: color 0.2s linear;
}

.ui-kit-navTabs-tab__active__theme-gray .ui-kit-navTabs-tab-text,
.ui-kit-navTabs-tab__active__theme-white .ui-kit-navTabs-tab-text {
	font-weight: var(--fw-semibold);
}

.ui-kit-navTabs-container__rotate-bottom .ui-kit-navTabs-tab-text {
	rotate: 180deg;
}

.ui-kit-navTabs-tab:disabled .ui-kit-navTabs-tab-text {
	color: var(--faint-middle);
	font-weight: var(--fw-medium);
}
