.ui-kit-container {
	position: relative;

	padding: 20px 16px;

	border-radius: var(--brad-base);
}

.ui-kit-container-white {
	background-color: var(--base-weak);
}

.ui-kit-container-gray {
	background-color: var(--faint-weak);
}

@media screen and (min-width: 1220px) {
	.ui-kit-container {
		padding: 30px;
	}
}
