.label {
	position: absolute;
	top: 4px;
	right: 0;
	bottom: 0;
	left: 60px;

	font-size: 14px;

	cursor: pointer;
}

.switch-handle {
	display: none;
}

.switch-handle:disabled + .slider-white,
.switch-handle:disabled + .slider-gray {
	cursor: not-allowed;
	opacity: 0.4;
}

.label-disabled {
	position: absolute;
	top: 4px;
	right: 0;
	bottom: 0;
	left: 60px;

	font-size: 14px;

	cursor: not-allowed;
	opacity: 0.4;
}

.switch {
	position: relative;

	display: inline-block;
	align-items: center;
	width: 44px;
	height: 26px;
}

.slider-white,
.slider-gray {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: var(--complement-strong);
	cursor: pointer;

	transition: 0.4s;
}

.slider-white::before,
.slider-gray::before {
	position: absolute;
	bottom: 2px;
	left: 2px;

	width: 22px;
	height: 22px;

	background-color: var(--base-weak);
	box-shadow: 0 4px 4px rgb(0 0 0 / 0.07);

	transition: 0.4s;

	content: "";
}

.slider-white:active::before,
.slider-gray:active::before {
	transform: scaleX(1.2);
	transform-origin: center left;
}

.switch-handle:checked + .slider-white:active::before,
.switch-handle:checked + .slider-gray:active::before {
	transform: scaleX(1.2);
	transform-origin: center right;
}

.switch-handle:checked + .slider-white {
	background-color: var(--faint-weak-up);
}

.switch-handle:checked + .slider-gray {
	background-color: var(--back-faint-middle);
}

.switch-handle:checked + .slider-white::before,
.switch-handle:checked + .slider-gray::before {
	left: 18px;
}

.round {
	border-radius: 13px;
}

.round::before {
	border-radius: 50%;
}
