.ui-kit-months-and-years-lists {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}

.ui-kit-months-and-years-lists__list {
	scrollbar-color: var(--faint-weak-darker) var(--back-faint-middle);
	scrollbar-width: 6px;

	overflow-y: scroll;
	display: grid;
	row-gap: 4px;

	height: 262px;
	margin: 0;
	padding: 0 10px 0 0;

	list-style: none;
}

.ui-kit-months-and-years-lists__list::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 3px;
}

.ui-kit-months-and-years-lists__list::-webkit-scrollbar-track {
	background-color: var(--faint-weak-darker);
	border-radius: 3px;
}

.ui-kit-months-and-years-lists__list::-webkit-scrollbar-thumb {
	background-color: var(--back-faint-middle);
	border-radius: 3px;
}

.ui-kit-months-and-years-lists__item {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 144px;
	min-height: 34px;

	font-size: var(--fs-sm);
	font-weight: var(--fw-medium);
	line-height: 100%;

	background-color: transparent;
	border: none;
	border-radius: 6px;

	transition: 0.3s all;
}

.ui-kit-months-and-years-lists__item:hover,
.ui-kit-months-and-years-lists__item:focus {
	background-color: var(--faint-weak);
}

.ui-kit-months-and-years-lists__item--today {
	font-weight: var(--fw-semibold);
	background-color: var(--faint-weak);
}

.ui-kit-months-and-years-lists__item--selected {
	font-weight: var(--fw-semibold);
	color: var(--base-weak);
	background-color: var(--complement-strong);
}

.ui-kit-months-and-years-lists__item--selected:hover,
.ui-kit-months-and-years-lists__item--selected:focus {
	background-color: var(--complement-strong-darker);
}

@media screen and (max-width: 600px) {
	.ui-kit-months-and-years-lists__item {
		min-width: 109px;
		min-height: 28px;
		font-size: var(--fs-xs);
	}
}
