.option {
	display: flex;
	justify-content: space-between;

	height: 34px;
}

.option-label {
	display: flex;
	align-items: center;

	margin-left: 14px;

	color: var(--base-strong-down);

	font-weight: var(--fw-medium);
	font-size: var(--fs-xs);
}

.option-currency {
	display: flex;
	align-items: center;

	margin-right: 30px;

	color: var(--back-faint-middle);

	font-weight: var(--fw-medium);
	font-size: var(--fs-xs);
}
