.ui-kit-input-error {
	display: flex;
	gap: 5px;
	align-items: flex-start;

	max-width: 100%;

	padding: 10px 14px;

	color: var(--critic-strong);
	font-size: var(--fs-xxs);
}

.ui-kit-input-error > *:first-child {
	min-width: 13px;
	margin-top: 2px;
}

.ui-kit-input-error > p {
	word-break: break-word;
}
