/* Стили контейнера */
.ui-kit-search-input-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: max-content;

	transition: all 0.1s linear;
}

.ui-kit-search-input-container-disabled {
	cursor: not-allowed;
}

.ui-kit-search-input-container__size-large {
	gap: 10px;

	min-width: 160px;
	height: 44px;
	padding: 15px;

	border-radius: var(--brad-base);
}

.ui-kit-search-input-container__size-medium {
	gap: 10px;

	min-width: 120px;
	height: 34px;
	padding: 10px 5px 10px 15px;

	border-radius: 6px;
}

.ui-kit-search-input-container__size-small {
	gap: 5px;

	min-width: 80px;
	height: 28px;
	padding: 5px 5px 5px 10px;

	border-radius: 6px;
}

.ui-kit-search-input-container__theme-white {
	background-color: var(--faint-weak);
}

.ui-kit-search-input-container__theme-gray {
	background-color: var(--base-weak);
}

/* Стили иконки */
.ui-kit-search-input-icon {
	flex-shrink: 0;
	color: var(--accent-strong);
	transition: color 0.1s linear;
}

.ui-kit-search-input-icon__size-large,
.ui-kit-search-input-icon__size-medium {
	width: 16px;
	height: 16px;
}

.ui-kit-search-input-icon__size-small {
	width: 14px;
	height: 14px;
}

.ui-kit-search-input-container-disabled .ui-kit-search-input-icon {
	color: var(--faint-middle);
}

/* Стили инпута */
.ui-kit-search-input {
	all: unset;

	width: 100%;

	font-weight: 500;
	color: var(--base-strong);

	transition: color 0.1s linear;
}

.ui-kit-search-input::placeholder {
	color: var(--base-strong-lighter);
	transition: color 0.1s linear;
}

.ui-kit-search-input:disabled,
.ui-kit-search-input:disabled::placeholder {
	color: var(--faint-middle);
}

.ui-kit-search-input:disabled {
	pointer-events: none;
}

.ui-kit-search-input__size-large {
	height: 25px;
	font-size: var(--fs-sm);
	line-height: 1.2em;
}

.ui-kit-search-input__size-medium {
	height: 18px;
	font-size: var(--fs-sm);
	line-height: 1.2em;
}

.ui-kit-search-input__size-small {
	height: 16px;
	font-size: var(--fs-xs);
	line-height: 1em;
}
