.ui-kit-toggle-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ui-kit-toggle-panel__nav {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 44px;
	min-height: 44px;
	padding: 0;

	font-size: var(--fs-md);
	line-height: var(--lh-md);
	color: var(--base-strong-lighter);

	background-color: transparent;
	border: none;
	border-radius: 50%;

	transition: 0.3s all;
}

.ui-kit-toggle-panel__nav:hover,
.ui-kit-toggle-panel__nav:focus {
	background-color: var(--faint-weak);
}

.ui-kit-toggle-panel__nav:disabled {
	cursor: default;
	background-color: transparent;
}

.ui-kit-toggle-panel__nav--prev {
	transform: rotate(-180deg);
}

.ui-kit-toggle-panel__nav--main {
	display: flex;
	column-gap: 10px;

	padding: 0 14px;

	color: var(--base-strong);

	border-radius: 6px;
}

.ui-kit-toggle-panel__month {
	font-weight: var(--fw-semibold);
}

@media screen and (max-width: 600px) {
	.ui-kit-toggle-panel__nav {
		min-width: 34px;
		min-height: 34px;
	}

	.ui-kit-toggle-panel__nav--main {
		font-size: var(--fs-sm);
		line-height: var(--lh-sm);
	}
}
