.checkbox {
	display: flex;
	align-items: center;
}

input:disabled + .slider-white {
	background-color: var(--faint-weak-up);
	cursor: not-allowed;
}

input:disabled + .slider-white::before {
	background-color: var(--faint-middle);
}

input:disabled + .slider-gray {
	background-color: var(--back-faint-middle);
	cursor: not-allowed;
}

input:disabled + .slider-gray::before {
	background-color: var(--faint-strong);
}

.switch {
	position: relative;

	display: inline-block;
	width: 44px;
	height: 26px;
	margin-right: 10px;
}

.slider-white,
.slider-gray {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: var(--complement-strong);
	cursor: pointer;

	transition: 0.4s;
}

.slider-white::before,
.slider-gray::before {
	position: absolute;
	bottom: 2px;
	left: 2px;

	width: 22px;
	height: 22px;

	background-color: var(--base-weak);

	transition: 0.4s;

	content: "";
}

input:checked + .slider-white {
	background-color: var(--faint-weak-up);
}

input:checked + .slider-gray {
	background-color: var(--back-faint-middle);
}

input:checked + .slider-white::before {
	transform: translateX(18px);
}

input:checked + .slider-gray::before {
	transform: translateX(18px);
}

.slider-white,
.slider-gray.round {
	border-radius: 13px;
}

.slider-white.round::before,
.slider-gray.round::before {
	border-radius: 50%;
}
