/* Стили контейнера статуса */
.ui-kit-status {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	max-width: max-content;
	padding: 4px 10px 4px 4px;

	border-radius: 6px;
}

.ui-kit-status__size-small {
	min-width: 80px;
	height: 28px;
}

.ui-kit-status__size-medium {
	min-width: 120px;
	height: 34px;
}

.ui-kit-status__size-large {
	min-width: 160px;
	height: 44px;
	padding: 10px;

	border-radius: 16px;
}

.ui-kit-status__color-accent__theme-white {
	background: var(--accent-weak-lighter);
}

.ui-kit-status__color-complement__theme-white {
	background: var(--complement-weak-lighter);
}

.ui-kit-status__color-warning__theme-white {
	background: var(--warning-weak-lighter);
}

.ui-kit-status__color-critic__theme-white {
	background: var(--critic-weak-lighter);
}

.ui-kit-status__color-success__theme-white {
	background: var(--success-weak-lighter);
}

.ui-kit-status__color-disabled__theme-white {
	background: var(--faint-weak);
}

.ui-kit-status__color-accent__theme-gray {
	background: var(--accent-weak);
}

.ui-kit-status__color-complement__theme-gray {
	background: var(--complement-weak);
}

.ui-kit-status__color-warning__theme-gray {
	background: var(--warning-weak);
}

.ui-kit-status__color-critic__theme-gray {
	background: var(--critic-weak);
}

.ui-kit-status__color-success__theme-gray {
	background: var(--success-weak);
}

.ui-kit-status__color-disabled__theme-gray {
	background: var(--faint-weak-darker);
}

/* Стили иконки статуса */
.ui-kit-status-icon {
	position: absolute;
	left: 4px;

	width: 4px;

	border-radius: 4px;
}

.ui-kit-status-icon__size-small {
	height: 18px;
}

.ui-kit-status-icon__size-medium {
	height: 26px;
}

.ui-kit-status-icon__size-large {
	left: 10px;

	height: 24px;
}

.ui-kit-status-icon__color-accent {
	background: var(--accent-strong);
}

.ui-kit-status-icon__color-complement {
	background: var(--complement-strong);
}

.ui-kit-status-icon__color-warning {
	background: var(--warning-strong);
}

.ui-kit-status-icon__color-critic {
	background: var(--critic-strong);
}

.ui-kit-status-icon__color-success {
	background: var(--success-strong);
}

.ui-kit-status-icon__color-disabled {
	background: var(--base-strong-lighter);
}

/* Стили текста статуса */
.ui-kit-status-text {
	margin-left: 12px;

	font-weight: 500;
	line-height: 1.2em;
}

.ui-kit-status-text__size-small {
	font-size: var(--fs-xxs);
}

.ui-kit-status-text__size-medium {
	font-size: var(--fs-xs);
}

.ui-kit-status-text__size-large {
	font-size: var(--fs-sm);
}

.ui-kit-status-text__color-accent {
	color: var(--accent-strong-darker);
}

.ui-kit-status-text__color-complement {
	color: var(--complement-strong-darker);
}

.ui-kit-status-text__color-warning {
	color: var(--warning-strong-darker);
}

.ui-kit-status-text__color-critic {
	color: var(--critic-strong-darker);
}

.ui-kit-status-text__color-success {
	color: var(--success-strong-darker);
}

.ui-kit-status-text__color-disabled {
	color: var(--base-strong-lighter);
}
