.ant-table {
	font-size: var(--fs-xs);
	line-height: var(--lh-xs);
	color: var(--base-strong);
}

.ant-table-thead > tr > th {
	font-weight: var(--fw-semibold);
	color: var(--base-strong);
	background-color: var(--faint-weak);
	border-bottom: 0;
}

.ant-table-thead
	> tr
	> th:not(:last-child, .ant-table-selection-column, .ant-table-row-expand-icon-cell, [colspan])::before {
	content: none;
}

.ant-table-container table > thead > tr:first-child th:first-child {
	border-radius: var(--brad-base) 0 0 var(--brad-base);
}

.ant-table-container table > thead > tr:first-child th:last-child {
	border-radius: 0 var(--brad-base) var(--brad-base) 0;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
	padding: 18px 10px;
}

.ant-table-thead > tr > th:first-child,
.ant-table-tbody > tr > td:first-child,
.ant-table tfoot > tr > th:first-child,
.ant-table tfoot > tr > td:first-child {
	padding-left: 14px;
}

.ant-table-thead > tr > th:last-child,
.ant-table-tbody > tr > td:last-child,
.ant-table tfoot > tr > th:last-child,
.ant-table tfoot > tr > td:last-child {
	padding-right: 14px;
}

.ant-table-tbody > tr > td {
	border-bottom-color: var(--back-faint-weak-darker);
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
	background-color: var(--faint-weak-darker);
}

td.ant-table-column-sort {
	background-color: var(--faint-weak);
}

.ant-table-pagination.ant-pagination {
	margin-bottom: 0;
}
