.svg-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	font-size: 12px;
}

.svg-item {
	display: grid;
	grid-row-gap: 2px;
	grid-template-rows: 1fr min-content;
	align-items: center;
	justify-items: center;

	padding: 2px;
}

.svg-item svg {
	width: 26px;
	height: auto;
}
