.svg-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	font-size: 8px;
}

.svg-item {
	display: grid;
	grid-template-rows: min-content min-content;
	align-content: center;
	justify-items: center;

	padding: 2px;

	border: 1px solid #333333;
}
