.svg-template code {
	padding: 4px;
	font-weight: 700;
	background-color: rgb(194 194 194 / 0.2);
}

.svg__container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
	justify-content: center;

	width: 100%;

	font-size: 12px;
}

.svg-section__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 12px;
}

.svg-item {
	display: grid;
	grid-row-gap: 2px;
	grid-template-rows: 1fr min-content;
	place-items: center center;

	padding: 2px;
}

.svg-item svg {
	min-width: 16px;
	max-width: 26px;
	height: auto;
}
