:root {
	--base-strong: #42474d;
	--base-strong-lighter: #667280;
	--base-weak: #ffffff;

	--faint-strong: #a6acb3;
	--faint-middle: #cedef2;
	--faint-weak-darker: #e9edf5;
	--faint-weak: #f2f4f7;
	--faint-weak-lighter: #f8f8fa;

	--accent-strong-darker: #4087b3;
	--accent-strong: #4da2d6;
	--accent-weak-darker: #9cd0f0;
	--accent-weak: #bbe2fa;
	--accent-weak-lighter: #d9f0ff;

	--complement-strong-darker: #43a865;
	--complement-strong: #5ccc81;
	--complement-weak-darker: #a4eba4;
	--complement-weak: #c2f2c2;
	--complement-weak-lighter: #e6ffe6;

	--critic-strong-darker: #e6432e;
	--critic-strong: #ff614d;
	--critic-weak-darker: #f5aa9f;
	--critic-weak: #ffc7bf;
	--critic-weak-lighter: #ffe9e6;

	--warning-strong-darker: #e69e39;
	--warning-strong: #f2ba48;
	--warning-weak-darker: #f0cd9c;
	--warning-weak: #f5e0b8;
	--warning-weak-lighter: #fff6e6;

	--success-strong-darker: #876abd;
	--success-strong: #af90e7;
	--success-weak-darker: #d0c0f0;
	--success-weak: #e7def8;
	--success-weak-lighter: #f2edfa;

	--back-faint-middle: #c3d3e6;
	--back-faint-weak-darker: #dae3f1;
	--back-faint-weak: #e9edf5;

	--linear-base-strong: linear-gradient(135deg, #39e672 0%, #57a1d9 100%);
	--linear-accent-strong: linear-gradient(135deg, #41b3d9 0%, #498ed2 100%);
	--linear-complement-strong: linear-gradient(275.64deg, #49b86e 0%, #5ccc81 100%);
	--linear-critic-strong: linear-gradient(315deg, #ff614d 0%, #f7924a 100%);
	--linear-success-strong: linear-gradient(139.24deg, #af90e7 1%, #8b6ebc 99%);

	--fs-3xl: 30px;
	--fs-xxl: 24px;
	--fs-xl: 20px;
	--fs-lg: 18px;
	--fs-md: 16px;
	--fs-sm: 14px;
	--fs-xs: 12px;
	--fs-xxs: 10px;
	--fs-3xs: 8px;

	--lh-3xl: 32px;
	--lh-3xl-text: 36px;
	--lh-xxl: 26px;
	--lh-xxl-text: 30px;
	--lh-xl: 22px;
	--lh-xl-text: 26px;
	--lh-lg: 20px;
	--lh-lg-text: 24px;
	--lh-md: 18px;
	--lh-md-text: 22px;
	--lh-sm: 16px;
	--lh-sm-text: 20px;
	--lh-xs: 14px;
	--lh-xs-text: 18px;
	--lh-xss: 12px;
	--lh-xss-text: 16px;
	--lh-3xs: 10px;
	--lh-3xs-text: 14px;

	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-medium: 500;
	--fw-regular: 400;

	--brad-basic: 16px;
}

.ui-kit-container {
	position: relative;

	padding: 20px 16px;

	background-color: var(--base-weak);
	border-radius: var(--brad-basic);
}

@media screen and (min-width: 1220px) {
	.ui-kit-container {
		padding: 30px;
	}
}

.ui-kit-button {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 14px;

	font-weight: var(--fw-medium);
	font-size: var(--fs-xs);
	line-height: var(--lh-xs);
	white-space: nowrap;
	text-align: center;
	text-shadow: none;

	background-image: none;

	border: 0;
	border-radius: var(--brad-basic);

	box-shadow: none;
	cursor: pointer;

	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

	user-select: none;
	touch-action: manipulation;
}

.ui-kit-button:not(.ant-btn-loading) {
	gap: 10px;
}

.ui-kit-button.ant-btn-default svg,
.ui-kit-button.ant-btn-primary.base svg,
.ui-kit-button.ant-btn-text svg {
	color: var(--accent-strong);
}

.ui-kit-button.ant-btn-default:disabled svg,
.ui-kit-button.ant-btn-primary.base:disabled svg,
.ui-kit-button.ant-btn-text:disabled svg {
	color: var(--back-faint-middle);
}

.ui-kit-button.ant-btn-primary svg {
	color: var(--base-weak);
}

.ui-kit-button.ant-btn-primary:disabled svg {
	color: var(--back-faint-middle);
}

.ui-kit-button.ant-btn-default.ant-btn-dangerous svg,
.ui-kit-button.ant-btn-text.ant-btn-dangerous svg {
	color: var(--critic-strong);
}

.ui-kit-button.ant-btn-default.ant-btn-dangerous:disabled svg,
.ui-kit-button.ant-btn-text.ant-btn-dangerous:disabled svg {
	color: var(--critic-weak-darker);
}

.ui-kit-button.ant-btn-default.base {
	color: var(--base-strong);

	border: 1px solid var(--back-faint-weak-darker);
}

.ui-kit-button.ant-btn-default[ant-click-animating-without-extra-node="true"].base::after {
	--antd-wave-shadow-color: var(--base-strong);
}

.ui-kit-button.ant-btn-default.base:disabled {
	color: var(--back-faint-middle);

	background-color: transparent !important;
	border-color: var(--back-faint-weak-darker);
}

.ui-kit-button.ant-btn-default.base.white:hover,
.ui-kit-button.ant-btn-default.base.white:focus-visible {
	background-color: var(--faint-weak);
}

.ui-kit-button.ant-btn-default.base.gray:hover,
.ui-kit-button.ant-btn-default.base.gray:focus-visible {
	background-color: var(--faint-weak-darker);
}

.ui-kit-button.ant-btn-primary.gradient:disabled {
	background-image: none !important;
}

.ui-kit-button.ant-btn-primary.base {
	color: var(--base-strong);
}

.ui-kit-button.ant-btn-primary.base.white {
	background-color: var(--faint-weak);
}

.ui-kit-button.ant-btn-primary.base.gray {
	background-color: var(--base-weak);
}

.ui-kit-button.ant-btn-primary.base.gradient {
	color: var(--base-weak);

	background-image: var(--linear-base-strong);
}

.ui-kit-button.ant-btn-primary[ant-click-animating-without-extra-node="true"].base::after {
	--antd-wave-shadow-color: var(--base-strong);
}

.ui-kit-button.ant-btn-primary:disabled {
	color: var(--back-faint-middle) !important;
}

.ui-kit-button.ant-btn-primary.white:not(.base):disabled {
	background-color: var(--faint-weak);
}

.ui-kit-button.ant-btn-primary.gray:not(.base):disabled {
	background-color: var(--faint-weak-darker);
}

.ui-kit-button.ant-btn-primary.base.white:disabled {
	background-color: var(--faint-weak);
}

.ui-kit-button.ant-btn-primary.base.gray:disabled {
	background-color: var(--base-weak);
}

.ui-kit-button.ant-btn-primary.base:hover,
.ui-kit-button.ant-btn-primary.base:focus-visible {
	background-color: var(--faint-weak-darker);
}

.ui-kit-button.ant-btn-primary:not(.base) {
	color: var(--base-weak);
}

.ui-kit-button.ant-btn-primary.accent {
	background-color: var(--accent-strong);
}

.ui-kit-button.ant-btn-primary.accent.gradient {
	background-image: var(--linear-accent-strong);
}

.ui-kit-button.ant-btn-primary[ant-click-animating-without-extra-node="true"].accent::after {
	--antd-wave-shadow-color: var(--accent-strong);
}

.ui-kit-button.ant-btn-primary.accent:hover,
.ui-kit-button.ant-btn-primary.accent:focus-visible {
	background-color: var(--accent-strong-darker);
}

.ui-kit-button.ant-btn-primary.complement {
	background-color: var(--complement-strong);
}

.ui-kit-button.ant-btn-primary.complement.gradient {
	background-image: var(--linear-complement-strong);
}

.ui-kit-button.ant-btn-primary[ant-click-animating-without-extra-node="true"].complement::after {
	--antd-wave-shadow-color: var(--complement-strong);
}

.ui-kit-button.ant-btn-primary.complement:hover,
.ui-kit-button.ant-btn-primary.complement:focus-visible {
	background-color: var(--complement-strong-darker);
}

.ui-kit-button.ant-btn-primary.warning {
	background-color: var(--warning-strong);
}

.ui-kit-button.ant-btn-primary[ant-click-animating-without-extra-node="true"].warning::after {
	--antd-wave-shadow-color: var(--warning-strong);
}

.ui-kit-button.ant-btn-primary.warning:hover,
.ui-kit-button.ant-btn-primary.warning:focus-visible {
	background-color: var(--warning-strong-darker);
}

.ui-kit-button.ant-btn-primary.success {
	background-color: var(--success-strong);
}

.ui-kit-button.ant-btn-primary.success.gradient {
	background-image: var(--linear-success-strong);
}

.ui-kit-button.ant-btn-primary[ant-click-animating-without-extra-node="true"].success::after {
	--antd-wave-shadow-color: var(--success-strong);
}

.ui-kit-button.ant-btn-primary.success:hover,
.ui-kit-button.ant-btn-primary.success:focus-visible {
	background-color: var(--success-strong-darker);
}

.ui-kit-button.ant-btn-default.ant-btn-dangerous {
	color: var(--critic-strong);

	border: 1px solid var(--critic-strong);
}

.ui-kit-button.ant-btn-default.ant-btn-dangerous:disabled {
	color: var(--critic-weak-darker);

	background-color: transparent !important;

	border-color: var(--critic-weak);
}

.ui-kit-button.ant-btn-default.ant-btn-dangerous[ant-click-animating-without-extra-node="true"]::after {
	--antd-wave-shadow-color: var(--critic-strong);
}

.ui-kit-button.ant-btn-default.ant-btn-dangerous:hover,
.ui-kit-button.ant-btn-default.ant-btn-dangerous:focus-visible {
	background-color: var(--critic-weak-lighter);
}

.ui-kit-button.ant-btn-primary.ant-btn-dangerous {
	color: var(--base-weak);
	text-shadow: none;

	background-color: var(--critic-strong);
}

.ui-kit-button.ant-btn-primary.ant-btn-dangerous.gradient {
	background-image: var(--linear-critic-strong);
}

.ui-kit-button.ant-btn-primary.ant-btn-dangerous[ant-click-animating-without-extra-node="true"]::after {
	--antd-wave-shadow-color: var(--critic-strong);
}

.ui-kit-button.ant-btn-primary.ant-btn-dangerous:disabled {
	background-color: var(--faint-weak) !important;
}

.ui-kit-button.ant-btn-primary.ant-btn-dangerous:hover,
.ui-kit-button.ant-btn-primary.ant-btn-dangerous:focus-visible {
	background-color: var(--critic-strong-darker);
}

.ui-kit-button.ant-btn-text {
	padding: 0;

	color: var(--accent-strong);

	background-color: transparent;

	transition: none;
}

.ui-kit-button.ant-btn-text:hover,
.ui-kit-button.ant-btn-text:focus-visible {
	font-weight: var(--fw-semibold);
}

.ui-kit-button.ant-btn-text:only-child:hover,
.ui-kit-button.ant-btn-text:only-child:focus-visible {
	text-decoration: underline;
}

.ui-kit-button.ant-btn-text:disabled {
	color: var(--back-faint-middle);
	font-weight: var(--fw-medium);
	text-decoration: none !important;
}

.ui-kit-button.ant-btn-text.ant-btn-dangerous {
	color: var(--critic-strong);

	background-color: transparent;
}

.ui-kit-button.ant-btn-text.ant-btn-dangerous:disabled {
	color: var(--critic-weak-darker);
}

@supports not selector(:focus-visible) {
	.ui-kit-button.ant-btn-default.base.white:focus {
		background-color: var(--faint-weak);
	}

	.ui-kit-button.ant-btn-default.base.gray:focus {
		background-color: var(--faint-weak-darker);
	}

	.ui-kit-button.ant-btn-primary.base:focus {
		background-color: var(--faint-weak-darker);
	}

	.ui-kit-button.ant-btn-primary.accent:focus {
		background-color: var(--accent-strong-darker);
	}

	.ui-kit-button.ant-btn-primary.complement:focus {
		background-color: var(--complement-strong-darker);
	}

	.ui-kit-button.ant-btn-primary.warning:focus {
		background-color: var(--warning-strong-darker);
	}

	.ui-kit-button.ant-btn-primary.success:focus {
		background-color: var(--success-strong-darker);
	}

	.ui-kit-button.ant-btn-default.ant-btn-dangerous:focus {
		background-color: var(--critic-weak-lighter);
	}

	.ui-kit-button.ant-btn-primary.ant-btn-dangerous:focus {
		background-color: var(--critic-strong-darker);
	}

	.ui-kit-button.ant-btn-text:focus {
		font-weight: var(--fw-semibold);
	}

	.ui-kit-button.ant-btn-text:only-child:focus {
		text-decoration: underline;
	}
}
