:root {
	--base-strong: #42474d;
	--base-strong-lighter: #828d99;
	--base-weak: #ffffff;

	--faint-strong: #a6acb3;
	--faint-middle: #cedef2;
	--faint-weak-darker: #e9edf5;
	--faint-weak: #f2f4f7;
	--faint-weak-lighter: #f7f8fa;

	--accent-strong-darker: #4087b2;
	--accent-strong: #4da2d6;
	--accent-weak-darker: #9cd0f0;
	--accent-weak: #bbe2fa;
	--accent-weak-lighter: #d9f0ff;

	--complement-strong-darker: #43a865;
	--complement-strong: #5ccc81;
	--complement-weak-darker: #a4eba4;
	--complement-weak: #c2f2c2;
	--complement-weak-lighter: #e5ffe5;

	--critic-strong-darker: #e5432e;
	--critic-strong: #ff4a33;
	--critic-weak-darker: #f5aa9f;
	--critic-weak: #ffc7bf;
	--critic-weak-lighter: #ffe9e5;

	--warning-strong-darker: #e59e39;
	--warning-strong: #fab425;
	--warning-weak-darker: #f0cd9c;
	--warning-weak: #f5e0b8;
	--warning-weak-lighter: #fff6e5;

	--success-strong-darker: #876abd;
	--success-strong: #9568e7;
	--success-weak-darker: #d0c0f0;
	--success-weak: #e7def8;
	--success-weak-lighter: #f2edfa;

	--back-faint-middle: #c3d3e5;
	--back-faint-weak-darker: #dae3f1;
	--back-faint-weak: #e9edf5;

	--linear-base-strong: linear-gradient(135deg, #39e672 0%, #57a1d9 100%);
	--linear-accent-strong: linear-gradient(135deg, #41b3d9 0%, #498ed2 100%);
	--linear-complement-strong: linear-gradient(275.64deg, #49b86e 0%, #5ccc81 100%);
	--linear-critic-strong: linear-gradient(315deg, #ff614d 0%, #f7924a 100%);
	--linear-success-strong: linear-gradient(139.24deg, #af90e7 1%, #8b6ebc 99%);

	--fs-3xl: 30px;
	--fs-xxl: 24px;
	--fs-xl: 20px;
	--fs-lg: 18px;
	--fs-md: 16px;
	--fs-sm: 14px;
	--fs-xs: 12px;
	--fs-xxs: 10px;
	--fs-3xs: 8px;

	--lh-3xl: 32px;
	--lh-3xl-text: 36px;
	--lh-xxl: 26px;
	--lh-xxl-text: 30px;
	--lh-xl: 22px;
	--lh-xl-text: 26px;
	--lh-lg: 20px;
	--lh-lg-text: 24px;
	--lh-md: 18px;
	--lh-md-text: 22px;
	--lh-sm: 16px;
	--lh-sm-text: 20px;
	--lh-xs: 14px;
	--lh-xs-text: 18px;
	--lh-xss: 12px;
	--lh-xss-text: 16px;
	--lh-3xs: 10px;
	--lh-3xs-text: 14px;

	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-medium: 500;
	--fw-regular: 400;

	--brad-small: 6px;
	--brad-base: 16px;
	--brad-circle: 50%;
}
